main.py
test.py
tesseract/tesseract.exe
tesseract/tessdata/eng.traineddata
tesseract/tessdata/jaxb-api-2.3.1.jar
tesseract/tessdata/osd.traineddata
tesseract/tessdata/pdf.ttf
tesseract/tessdata/piccolo2d-core-3.0.1.jar
tesseract/tessdata/piccolo2d-extras-3.0.1.jar
tesseract/tessdata/ScrollView.jar
tesseract/tessdata/configs/alto
tesseract/tessdata/configs/ambigs.train
tesseract/tessdata/configs/api_config
tesseract/tessdata/configs/bigram
tesseract/tessdata/configs/box.train
tesseract/tessdata/configs/box.train.stderr
tesseract/tessdata/configs/digits
tesseract/tessdata/configs/get.images
tesseract/tessdata/configs/hocr
tesseract/tessdata/configs/inter
tesseract/tessdata/configs/kannada
tesseract/tessdata/configs/linebox
tesseract/tessdata/configs/logfile
tesseract/tessdata/configs/lstm.train
tesseract/tessdata/configs/lstmbox
tesseract/tessdata/configs/lstmdebug
tesseract/tessdata/configs/makebox
tesseract/tessdata/configs/page
tesseract/tessdata/configs/pdf
tesseract/tessdata/configs/quiet
tesseract/tessdata/configs/rebox
tesseract/tessdata/configs/strokewidth
tesseract/tessdata/configs/tsv
tesseract/tessdata/configs/txt
tesseract/tessdata/configs/unlv
tesseract/tessdata/configs/wordstrbox
tesseract/tessdata/tessconfigs/batch
tesseract/tessdata/tessconfigs/batch.nochop
tesseract/tessdata/tessconfigs/matdemo
tesseract/tessdata/tessconfigs/msdemo
tesseract/tessdata/tessconfigs/nobatch
tesseract/tessdata/tessconfigs/segdemo
